@model ApplicationCore.Models.ClientResponseModel

<h1>@Model.Name 's Info Update</h1>


<div class="row">

    <div class="col-md-4">
        <form asp-action="Update">

            <div asp-validation-summary="ModelOnly"></div>
            <div class="form-group">

                <input name="Id" type="hidden" asp-for="Id" class="form-control">

            </div>

            <div class="form-group">
                <label asp-for="Name">Name</label>
                <input name="Name" asp-for="Name" class="form-control">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email">Email</label>
                <input name="Email" asp-for="Email" class="form-control">
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Phones">Phones</label>
                <input name="Phones" asp-for="Phones" class="form-control">
                <span asp-validation-for="Phones" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address">Address</label>
                <input name="Address" asp-for="Address" class="form-control">
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
               
                <input name="AddedOn" type="hidden" asp-for="AddedOn" class="form-control">
                
            </div>

            <button type="submit" class="btn btn-primary">Update</button>
        </form>

    </div>
</div>